@charset 'UTF-8';

body{
    font: normal 50p 1em Arial, Sans-serif;
    background-color: #6acbff;
}
header{
    text-align: center;
    font-variant: small-caps;
}
section{
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 7px #04040474;
    border-radius: 20px;
    min-width: 250px;
    max-width: 500px;
    margin: auto;
}
input#botao {
    padding: 7px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 0px 4px #0000006b;
    transition: .5s;
}
input#botao:hover {
    background: black;
    color: white;
}
footer{
    text-align: center;
}