@charset 'UTF-8';

body{
    font: normal 500 1em Arial, Sans-serif;
    background-color: #6acbff;
}
header{
    text-align: center;
    font-variant: small-caps;
    color: white;
}
section{
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 7px #04040474;
    border-radius: 20px;
    min-width: 250px;
    max-width: 500px;
    margin: auto;
    text-align: center;
}
footer{
    text-align: center;
    font: italic 1em serif;
    color: white;
}
div{
    padding: 10px;
}